@import "tailwindcss";  

:root {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

.mesh-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #fdfbf9;
            background-image: 
                radial-gradient(at 10% 10%, rgba(224, 195, 252, 0.4) 0px, transparent 50%),
                radial-gradient(at 90% 10%, rgba(194, 233, 251, 0.4) 0px, transparent 50%),
                radial-gradient(at 30% 40%, rgba(200, 240, 200, 0.3) 0px, transparent 50%),
                radial-gradient(at 70% 80%, rgba(251, 194, 235, 0.3) 0px, transparent 50%),
                radial-gradient(at 10% 90%, rgba(255, 255, 220, 0.4) 0px, transparent 50%);
            filter: blur(80px);
        }